section [ilab-Home] {
    .el-menu-item {
        .is-active {
            color: #4c70e8;
            border-left: #4c70e8 3px solid;
        }
    }
    .el-menu-item .is-active {
        color: #4c70e8;
    }
    .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active {
        color: #4c70e8;
    }
    
}