section [ilab-Setting-StaffSetting] {
  .toolbar {
      .Inst-right {
        width: 476px;
        float: right;
        text-align: right;
        display: inline-block;
        .text1 {
            width: 130px;
            padding-right: 10px;
            display: inline-block;
            text-align: right
        }
        .text2 {
            width: 140px;
            padding-right: 10px;
            display: inline-block;
            text-align: right
        }
      }
      
  }
  .el-dialog__wrapper {
    .el-dialog {
        position: absolute;
        left: 50%;
        margin-top: 170px;
        width: 500px;
        height: 320px;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
        box-sizing: border-box;
        margin-bottom: 0px;
        .el-dialog__body {
            padding: 30px 40px 0px 40px;
            color: #48576a;
            font-size: 14px;
        }
        .el-dialog__footer {
            padding: 10px 40px 15px;
            text-align: right;
            box-sizing: border-box;
        }
    }
  }
  
}